name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Install dependencies
      run: go mod download

    - name: Run tests
      run: go test ./...

    - name: Build binary
      run: go build -o goscripts ./cmd/goscripts

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: goscripts
        path: goscripts
