name: Publish Release

on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: goscripts
          path: ./dist

      - name: Upload assets to release
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/goscripts
